export defeault const styles = {
  pageBackground: {
    backgroundColor: '#1E3A8A', 
    minHeight: '100vh',
    display: 'flex',
    alignItems: 'center', 
    justifyContent: 'center', 
    padding: '20px',
  },
  primaryButton: {
    backgroundColor: '#10B981', 
    borderColor: '#10B981',
    fontWeight: 'bold',
  },
  logoText: {
    color: '#1E3A8A', 
    fontWeight: '900',
  }
};

